[Unit]
Description=PersonalAssistant.Auth running on Ubuntu

[Service]
WorkingDirectory=/home/personalassistant/Auth
ExecStart=/usr/bin/dotnet /home/personalassistant/Auth/Auth.dll
Restart=always
# Restart service after 10 seconds if dotnet service crashes
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-personalassistantauth
User=personalassistant
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
