<template>
  <require from="../../static/styles/components/amount-input.scss"></require>

  <div class="input-wrap ${changing ? 'changing' : ''}">
    <input type="number" if.bind="fund.currency === 'MKD'" id="stock-price" ref="stockPriceInput"
      value.bind="fund.stockPrice & validate" min="0.0001" max="100000"
      class="amount-input ${amountIsInvalid ? 'invalid' : ''}" required>
    <input else type="number" id="stock-price" ref="stockPriceInput" value.bind="fund.stockPrice & validate" step="any" min="0.0001"
      max="100000" class="amount-input ${amountIsInvalid ? 'invalid' : ''}" required>

    <input type="text" class="select-currency-input" ref="selectCurrencyInput" maxlength="3"
      t="[placeholder,aria-label]currency">
    <button type="button" click.delegate="toggleChangeCurrency()"
      class="selected-currency-button">${fund.currency}</button>
  </div>
</template>