@import "../../../../shared/src/static/styles/variables";

@media screen and (min-width: $desktop-min) {
  .body {
    min-height: initial;
  }
  .body-overlay {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }
}
