services:
  personalassistant-web:
    image: personalassistant-web:latest
    container_name: personalassistant-web
    build:
      context: .
      dockerfile: src/Core/PersonalAssistant.Web/Dockerfile
    depends_on:
      - postgres
      - rabbitmq

  gateway:
    image: personalassistant-gateway:latest
    container_name: personalassistant-gateway
    build:
      context: .
      dockerfile: src/Core/Gateway/Dockerfile
    depends_on:
      - core-api
      - todo-api
      - chef-api
      - accountant-api
      - weatherman-api
      - trainer-api

  core-api:
    image: personalassistant-core-api:latest
    container_name: personalassistant-core-api
    build:
      context: .
      dockerfile: src/Core/Core.Api/Dockerfile
    depends_on:
      - postgres

  todo-api:
    image: personalassistant-todo-api:latest
    container_name: personalassistant-todo-api
    build:
      context: .
      dockerfile: src/ToDoAssistant/ToDoAssistant.Api/Dockerfile
    depends_on:
      - postgres
      - rabbitmq

  chef-api:
    image: personalassistant-chef-api:latest
    container_name: personalassistant-chef-api
    build:
      context: .
      dockerfile: src/Chef/Chef.Api/Dockerfile
    depends_on:
      - postgres
      - rabbitmq

  accountant-api:
    image: personalassistant-accountant-api:latest
    container_name: personalassistant-accountant-api
    build:
      context: .
      dockerfile: src/Accountant/Accountant.Api/Dockerfile
    depends_on:
      - postgres

  weatherman-api:
    image: personalassistant-weatherman-api:latest
    container_name: personalassistant-weatherman-api
    build:
      context: .
      dockerfile: src/Weatherman/Weatherman.Api/Dockerfile
    depends_on:
      - postgres

  trainer-api:
    image: personalassistant-trainer-api:latest
    container_name: personalassistant-trainer-api
    build:
      context: .
      dockerfile: src/Trainer/Trainer.Api/Dockerfile
    depends_on:
      - postgres

  sender:
    image: personalassistant-sender:latest
    container_name: personalassistant-sender
    build:
      context: .
      dockerfile: src/Core/Sender/Dockerfile
    depends_on:
      - postgres
      - rabbitmq

  postgres:
    image: postgres:15
    container_name: personalassistant-postgres
    restart: always

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: personal-assistant-rabbitmq
