<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="google-site-verification" content="UWBbtL3i1nhy04-tZJHnxyezrooysuPCMjVtXUtnb5c" />
  <meta name="Description" content="Your very own Accountant" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#49e09b" />
  <title><%- htmlWebpackPlugin.options.metadata.title %></title>
  <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>" />
  <link rel="icon" href="/favicon.png?v=3" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="preconnect" href="<%- htmlWebpackPlugin.options.metadata.apiUrl %>" crossorigin />
  <link rel="preconnect" href="https://res.cloudinary.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" />
</head>

<body aurelia-app="main">
</body>

</html>