@import "../../../../../shared/src/static/styles/variables";

.used-in-recipes-section {
  margin-bottom: 30px;
}

.ingredient-recipes {
  background: #fafafa;
  border-radius: var(--border-radius);
  margin-bottom: 10px;

  ul {
    border: 1px solid #ddd;
    border-top: none;
    border-radius: var(--border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    list-style-type: none;

    li a {
      display: block;
      padding: 10px 15px;
      line-height: 24px;
      text-decoration: none;
      color: var(--regular-color);

      &:nth-child(even) {
        background: #eee;
      }

      &:hover {
        color: var(--primary-color-dark);
      }
    }
  }
}

.search-tasks-wrap {
  margin-bottom: 25px;
}

.linked-to-task-alert {
  background: var(--primary-color-light);
  border-radius: var(--border-radius);
  padding: 7px 12px;
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--primary-color-dark);

  .fa-info-circle {
    margin-right: 5px;
    color: var(--primary-color-dark);
  }

  .unlink-button-wrap {
    margin: 8px 0 3px;
    text-align: right;
  }
}

.link-to-task-button {
  margin-bottom: 25px;
}

.edit-ingredient .name {
  background: #fafafa;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  outline: none;
  padding: 0 12px;
  line-height: 45px;
}

.nutrition-price-data-wrap {
  margin: 35px 0;

  .nutrition-price-data-container {
    margin-top: 15px;

    .nutrition-price-data {
      margin: 30px 0;

      .nutrition-price-data-header {
        position: relative;
        background: var(--primary-color);
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        padding: 5px;
        line-height: 27px;
        text-align: center;
        color: #fff;

        i.fa-clipboard {
          position: absolute;
          top: 8px;
          left: 14px;
          font-size: 22px;
        }

        i.fa-tag {
          position: absolute;
          top: 10px;
          left: 14px;
          font-size: 20px;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          right: 0;
          height: 37px;
          width: 45px;
          font-size: 21px;
        }
      }

      .nutrition-price-data-content {
        border: 1px solid #ddd;
        border-top: none;
        border-radius: var(--border-radius);
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        .nutrition-price-data-size-selectors {
          display: flex;
          justify-content: space-around;
          border-bottom-left-radius: var(--border-radius);
          border-bottom-right-radius: var(--border-radius);
          padding: 15px 0 20px;

          .nutrition-price-data-size {
            display: flex;

            span {
              cursor: pointer;
              line-height: 37px;
            }

            input:disabled {
              color: #aaa;
            }

            i {
              margin-left: 10px;
            }
          }

          .nutrition-price-data-size-separator {
            border-left: 1px solid var(--faded-color);
          }

          input[type="radio"] {
            display: none;
          }

          label {
            i {
              visibility: hidden;
              line-height: 37px;
              color: var(--primary-color-dark);
            }

            span {
              transition: color var(--transition);
            }

            &.selected {
              i {
                visibility: visible;
              }

              span {
                color: var(--primary-color-dark);
              }
            }
          }

          .is-one-unit-wrap {
            display: block;
            cursor: pointer;

            span {
              line-height: 37px;
            }

            i {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

.nutrition-price-data-size input,
.edit-ingredient-form-table input {
  width: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  line-height: 37px;
  text-align: center;
}

.edit-ingredient-form-table {
  width: 100%;

  tbody tr:nth-child(odd) {
    background: #eee;
  }

  tbody tr td {
    padding: 4px 15px;
    vertical-align: middle;
    line-height: 23px;
  }

  .input-wrap {
    display: flex;
    justify-content: end;
  }

  .price-input {
    width: 75px;
  }
}

@media screen and (min-width: $desktop-min) {
  .nutrition-price-data-wrap .nutrition-price-data-container .nutrition-price-data .nutrition-price-data-header {
    padding: 9px 5px;

    i.fa-clipboard {
      top: 12px;
    }

    i.fa-tag {
      top: 13px;
      font-size: 22px;
    }

    a {
      height: 45px;
      width: 50px;
      font-size: 23px;
    }
  }
}

@media screen and (max-width: 600px) {
  .nutrition-price-data-size input,
  .edit-ingredient-form-table input {
    width: 40px !important;
  }

  .nutrition-price-data-wrap
    .nutrition-price-data-container
    .nutrition-price-data
    .nutrition-price-data-content
    .nutrition-price-data-size-selectors {
    display: block;
    justify-content: unset;
    padding-bottom: 10px;

    .nutrition-price-data-size {
      justify-content: center;
    }
    .nutrition-price-data-size-separator {
      border-left: none;
      border-bottom: 1px solid var(--faded-color);
      margin: 20px 20px 10px;
    }

    .is-one-unit-wrap {
      display: flex;
      justify-content: center;
    }
  }
}
