@import "../../../../../shared/src/static/styles/variables";

label.label {
  display: block;
  padding-left: 5px;
  margin-bottom: 10px;
  color: #888;

  &.dark {
    color: var(--regular-color);
  }
}

.edit-image-wrap {
  position: relative;
  margin-bottom: 10px;
  font-size: 0;

  .image {
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }

  input[type="file"] {
    display: none;
  }

  label {
    display: inline-block;
    background: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 0 12px;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #fafafa;
    cursor: pointer;
    white-space: nowrap;
    transition: background var(--transition);
  }

  button {
    background: var(--primary-color);
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    padding: 0 12px;
    margin-left: 8px;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #fafafa;
    cursor: pointer;
    transition: background var(--transition);
  }

  label:hover,
  button:hover {
    background: var(--primary-color-dark);
  }
}

.edit-image-buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0;
}

.image-loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: var(--border-radius);
  opacity: 0;

  transition: opacity var(--transition);

  i {
    font-size: 50px;
    color: var(--primary-color);
  }

  &.uploading {
    opacity: 1;
  }
}

.video-url-input-wrap {
  position: relative;
  margin-bottom: 10px;

  input {
    width: calc(100% - 68px);
    padding-right: 56px;
    line-height: 45px;
  }

  .fa-youtube {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 29px;
    color: var(--faded-color);
  }
}

.new-ingredients-wrap {
  margin-top: 10px;
}
.new-ingredient {
  display: flex;

  &:nth-child(n + 2) {
    margin-top: 5px;
  }

  .fa-list {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 27px;
    color: var(--primary-color);
  }

  &.from-task .fa-list {
    display: block;
  }

  &.from-task .name-input {
    padding-right: 50px;
  }

  .ingredient-name-wrap {
    position: relative;
    width: 100%;
  }

  .name-input {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &.uneditable {
      background: #eeffee;
      padding: 10px 12px;
      line-height: 24px;
      color: var(--primary-color-dark);
    }
  }

  .ingredient-amount-input-wrap {
    display: flex;
  }

  .amount-input {
    width: auto;
    max-width: 55px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .unit-toggle {
    text-align: center;
    color: var(--primary-color);

    > button {
      background: var(--primary-color);
      border: none;
      border-radius: var(--border-radius);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      outline: none;
      box-shadow: var(--box-shadow);
      padding: 1px 12px;
      font-size: 22px;
      line-height: 43px;
      color: #fafafa;
      cursor: pointer;
      vertical-align: top;

      transition: background var(--transition);
    }

    > .fa-asterisk {
      background: var(--primary-color);
      border-radius: var(--border-radius);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: var(--box-shadow);
      padding: 2px 13px 0;
      font-size: 15px;
      line-height: 43px;
      color: #fafafa;
      cursor: pointer;
      vertical-align: top;

      transition: background var(--transition);
    }

    > button:hover,
    > .fa-asterisk:hover {
      background: var(--primary-color-dark);
    }
  }
}

/* Workaround for sticky :hover on mobile devices */
.touch-device .new-ingredient .unit-toggle > button:hover,
.touch-device .new-ingredient .unit-toggle > .fa-asterisk:hover,
.touch-device .edit-image-wrap label:hover {
  background: var(--primary-color);
}

@media screen and (min-width: $desktop-min) {
  .new-ingredient {
    .name-input.uneditable {
      padding: 8px 12px;
      line-height: 29px;
    }

    .amount-input {
      max-width: 95px;
    }
  }
}
