@import "../../../../../shared/src/static/styles/variables";

.ingredient {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #e9fff4;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  padding: 9px 15px;
  color: var(--regular-color);
  line-height: 27px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    color: var(--primary-color-dark);
  }

  .name {
    padding-right: 15px;
  }
}

.ingredient-icons-container {
  font-size: 24px;
  color: var(--faded-color);
  white-space: nowrap;

  .fa-link,
  .fa-tag {
    font-size: 22px;
  }

  i {
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.ingredients-search-wrap {
  position: relative;
  margin-bottom: 30px;

  input.searching {
    width: calc(100% - 70px);
    padding-right: 56px;
  }

  .fa-times {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 45px;
    color: var(--primary-color);
    cursor: pointer;

    &:hover {
      color: var(--primary-color-dark);
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .ingredients-search-wrap .fa-times {
    height: 47px;
    width: 50px;
  }
}
