.to-do-list-placeholder {
  background: #eee;
  border-radius: var(--border-radius);
  padding: 9px 10px;
  margin: 15px 0;
  line-height: 27px;
  user-select: none;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(2) {
    opacity: 0.85;
  }

  &:nth-child(3) {
    opacity: 0.65;
  }

  &:nth-child(4) {
    opacity: 0.55;
  }

  &:nth-child(5) {
    opacity: 0.35;
  }
}

.to-do-list {
  position: relative;
  display: flex;
  justify-content: flex-start;
  border-radius: var(--border-radius);
  margin: 12px 0;
  color: var(--regular-color);
  text-decoration: none;
  user-select: none;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background: #e1f2ff;
  }

  .icon {
    width: 45px;
    min-width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 23px;
    color: var(--faded-color);
  }

  .shared-icon {
    display: none;
    position: absolute;
    top: 11px;
    right: 10px;
    font-size: 24px;
    color: var(--faded-color);
  }

  &.is-shared,
  &.pending-share {
    padding-right: 50px;
  }

  &.is-shared .fa-users {
    display: inline;
  }

  &.pending-share .fa-user-clock {
    display: inline;
  }

  .name {
    padding: 8px 10px;
    line-height: 27px;
  }
}
