@import "../../../../../shared/src/static/styles/variables";

.page-title.tasks {
  padding: 10px 48px 10px 38px;
}

.add-input-wrap {
  position: relative;

  input {
    width: calc(100% - 60px);
    padding-right: 46px;
    line-height: 45px;

    &:disabled {
      text-align: center;
    }

    &.new-task {
      width: calc(100% - 112px);
      padding-right: 98px;
    }
  }

  &.with-private-toggle {
    .is-private-toggle {
      display: block;
    }

    input.new-task {
      width: calc(100% - 154px);
      padding-right: 140px;
    }
  }

  a,
  .is-one-time-toggle,
  .is-private-toggle,
  .loader {
    position: absolute;
    top: 1px;
    right: 1px;
    background: none;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 23px;
    line-height: 37px;
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
  }

  a {
    line-height: 45px;

    &:hover {
      color: var(--primary-color-dark);
    }

    &.disabled {
      color: var(--faded-color);
      cursor: default;
    }
  }

  .is-one-time-toggle {
    right: 45px;
    line-height: 45px;
    cursor: pointer;

    &:hover {
      color: var(--primary-color-dark);
    }
  }

  .is-private-toggle {
    display: none;
    right: 90px;
    line-height: 45px;
    cursor: pointer;
  }

  .is-one-time-toggle input,
  .is-private-toggle input {
    display: none;
  }

  .is-one-time-toggle i:nth-child(2),
  .is-private-toggle i:nth-child(2) {
    display: none;
  }

  .is-one-time-toggle.checked i:nth-child(3),
  .is-private-toggle.checked i:nth-child(3) {
    display: none;
  }

  .is-one-time-toggle i:nth-child(3),
  .is-private-toggle i:nth-child(3) {
    color: var(--faded-color);
  }

  .is-one-time-toggle.checked i:nth-child(2),
  .is-private-toggle.checked i:nth-child(2) {
    display: inline;
  }

  .loader {
    top: 5px;
  }
}

.to-do-tasks-wrap {
  margin-top: 35px;

  &.private {
    background: #f4faff;
    border-radius: var(--border-radius);
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    padding: 15px;
  }

  &.reordering .left-button {
    display: none;
  }

  .to-do-task {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
    }

    &.completed {
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }

    &.high-priority {
      font-weight: bold;
      color: var(--danger-color-dark);
    }

    &.disappearing {
      transition: opacity 500ms;
      transition-delay: 300ms;
      opacity: 0 !important;

      &:not(.completed) .name {
        text-decoration: line-through;
      }
    }

    &-assignee-image {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      margin: 6px 9px 0 0;
    }

    .left-button {
      min-width: 45px;
      font-size: 23px;
      line-height: 45px;
      text-decoration: none;
      text-align: center;
      color: var(--primary-color);

      &:hover {
        color: var(--primary-color-dark);
      }
    }

    .right-button {
      min-width: 45px;
      font-size: 27px;
      line-height: 45px;
      text-decoration: none;
      text-align: center;
      color: var(--primary-color);

      &:hover {
        color: var(--primary-color-dark);
      }
    }

    .reorder-icon {
      display: none;
      width: 45px;
      line-height: 45px;
      text-align: center;
      color: var(--primary-color);
    }

    &-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-radius: 6px;

      &.private .to-do-task:last-child {
        margin-bottom: 0;
      }

      .name {
        width: 100%;
        border-bottom: 1px solid #ddd;
        padding: 9px 5px;
        line-height: 27px;
        text-align: center;
        cursor: default;
      }

      .fa-square,
      .fa-check-square,
      .one-time .fa-trash-alt {
        display: inline;
      }

      .fa-trash-alt,
      .one-time .fa-square,
      .one-time .fa-check-square {
        display: none;
      }

      .fa-trash-alt.loading {
        color: var(--danger-color);
      }

      .one-time {
        font-size: 23px;
      }
    }
  }
}

.sort-handle {
  cursor: grab;
  cursor: -webkit-grab;
}
.reordering .reorder-icon {
  display: inline-block !important;
}

.completed-tasks {
  display: none;

  &.visible {
    display: block;
  }

  .to-do-tasks-wrap {
    margin-top: 15px;
  }
}

.private-tasks-label {
  padding-bottom: 20px;
  text-align: center;
  user-select: none;

  i {
    margin-right: 5px;
    font-size: 16px;
  }
}

.toggle-completed-visible {
  padding: 3% 10% 3%;
  margin-top: 10%;
  color: var(--faded-color);
  user-select: none;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: var(--primary-color);
  }

  i {
    margin-right: 5px;
  }

  hr {
    margin: 8px 0 0 0;
    color: inherit;
  }
}

.archived-list-alert {
  display: flex;
  justify-content: space-between;
  background: #f4faff;
  border-radius: 8px;
  margin-bottom: 25px;
  color: var(--primary-color);
}

.duplicate-task-alert {
  display: none;
  justify-content: space-between;
  background: #f4faff;
  border-radius: 8px;
  margin-bottom: 25px;

  &.visible {
    display: flex;
  }
}

.tasks-reorder-toggle {
  position: absolute;
  top: 0;
  left: 55px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 60px;
  font-size: 25px;
  text-decoration: none;
  color: var(--faded-color);
  cursor: pointer;

  &.checked {
    color: var(--primary-color);
  }

  input {
    display: none;
  }

  &:hover {
    color: var(--primary-color-dark);
  }
}

.search-toggle {
  position: absolute;
  top: 0;
  right: 50px;
  height: 60px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
  color: var(--faded-color);
  cursor: pointer;

  &.checked {
    color: var(--primary-color);
  }

  input {
    display: none;
  }

  &:hover {
    color: var(--primary-color-dark);
  }
}

/* Workaround for sticky :hover on mobile devices */
.touch-device {
  .add-input-wrap a:hover,
  .add-input-wrap .is-one-time-toggle:hover,
  .add-input-wrap .is-private-toggle:hover,
  .search-toggle.checked:hover {
    color: var(--primary-color);
  }

  .search-toggle:hover {
    color: var(--faded-color);
  }

  .toggle-completed-visible {
    &:hover {
      color: #888;
    }

    &:active {
      background: transparent;
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .add-input-wrap {
    a,
    .is-one-time-toggle,
    .is-private-toggle,
    .loader {
      font-size: 25px;
      line-height: 45px;
    }

    .loader {
      top: 0;
    }
  }
}
