@model LockoutViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["LockedOut"];
    ViewData["Description"] = Localizer["YouAreLockedOut"];
    ViewData["LoggedOut"] = true;
}

<h1>@Localizer["LockedOut"]</h1>
<p>@Localizer["YouAreLockedOut", Model.LockoutEndMinutes]</p>