@model LoggedOutViewModel
@inject IViewLocalizer Localizer

<p class="alert success">@Localizer["SuccessfullyLoggedOut"]</p>

@if (Model.SignOutIframeUrl != null)
{
    <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
}

<footer>
    <a href="/" class="button">@Localizer["BackToHome"]</a>
</footer>