@model LogoutViewModel

<form asp-action="Logout">
    <h1>Logout</h1>

    <p>Would you like to logout of IdentityServer?</p>

    <input type="hidden" name="logoutId" value="@Model.LogoutId" />

    <footer>
        <button>Yes</button>
    </footer>
</form>