@import "../../../../shared/src/static/styles/core.scss";
@import "../../../../shared/src/static/styles/input-date.scss";
@import "../../../../shared/src/static/styles/currency-selector.scss";

:root {
  --primary-color: var(--accountant-color);
  --primary-color-dark: #4946ec;
  --primary-color-light: #eae8ff;
  --faded-color: #b098c5;
  --deposit-color: #65c565;
  --expense-color: #f55551;
  --transfer-color: #6597f5;
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
textarea {
  background: #f9f8fe;
}

.double-bounce1,
.double-bounce2 {
  background-color: #bb8aff;
}

.button.primary-button,
.save-delete-wrap .primary-button.loading:disabled {
  background: linear-gradient(225deg, #7a46f3, #00a6ed);
  background-size: 400% 400%;
}
.button.primary-button:disabled {
  color: var(--primary-color);
}

.side.disabled,
.new-button.disabled {
  cursor: default;
  color: var(--faded-color);
}

.amount-by-category-table {
  width: 100%;
  font-size: 1rem;

  tbody tr {
    cursor: pointer;

    &:hover {
      color: var(--primary-color-dark);
    }
  }

  td {
    padding: 5px 15px 5px 0;
    line-height: 1.2rem;

    &:last-child {
      padding-right: 0;
      text-align: right;
    }

    &.sub-category-cell {
      padding-left: 10px;
    }
  }

  .amount-cell {
    white-space: nowrap;
  }

  tfoot tr:last-child td {
    border-top: 1px solid #ddd;
    padding: 5px 0;
    font-size: 1.1rem;
  }
}

.form-control.inline {
  display: flex;
  justify-content: space-between;

  label {
    padding-right: 25px;
  }

  span:nth-child(2) {
    text-align: right;
  }
}

form label:not(.toggle) {
  display: block;
}
form.viewing label {
  width: auto;
}
form input[type="text"],
form input[type="number"],
form select,
form input[type="date"] {
  line-height: 37px;
}
form {
  .amount-input {
    width: 80px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
  }

  .category-select {
    width: 210px;
    background-position: right 15px top 17px;
  }

  input[type="date"] {
    width: 140px;
    text-align: center;
  }

  .description-textarea {
    height: 80px;
    max-height: 200px;
  }
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
textarea {
  letter-spacing: unset;
}

.loadable-select {
  position: relative;

  select {
    transition: opacity var(--transition);
  }

  i {
    position: absolute;
    top: 9px;
    left: 10px;
    font-size: 1.3rem;
    color: var(--primary-color);
  }

  &.loaded i {
    display: none;
  }
}

.content-body {
  margin-bottom: 30px;
}

.editable-table {
  width: 100%;

  tbody tr:nth-child(odd),
  tbody tr:hover {
    background: #f1f1f1;
  }

  th {
    padding: 10px 5px;
    line-height: 24px;
    font-size: 1rem;
    color: var(--primary-color-dark);
  }

  td {
    padding: 5px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    font-size: 0.9rem;
  }

  .date-cell {
    white-space: nowrap;
  }

  .edit-link-cell {
    padding: 0 8px 0 0;
    text-align: left;
  }

  .type-cell {
    padding: 5px;
    font-size: 1.3rem;
  }

  .link {
    display: block;
    padding: 5px;
    font-size: 1.3rem;
    color: var(--primary-color);

    &:hover {
      color: var(--primary-color-dark);
    }
  }

  tfoot td {
    border-top: 1px solid #ddd;
    padding: 5px;
    text-align: right;
  }

  .no-data-column {
    padding: 20px 5px;
    font-size: 1.1rem;
    text-align: center;
    color: var(--faded-color);
  }

  .link.debt-icon {
    font-size: 1.4rem;
  }
}

.deposit-color {
  color: var(--deposit-color);
}
.expense-color {
  color: var(--expense-color);
}
.transfer-color {
  color: var(--transfer-color);
}

th.sync-icon-cell,
td.sync-icon-cell {
  padding: 0;
  font-size: 1.2rem;
  color: var(--faded-color);
}
.sync-icon-cell i {
  margin: 0 5px;
}

.clickable-cell {
  cursor: pointer;
}

.multi-radio-wrap {
  display: flex;
  border-radius: var(--border-radius);
  border: 1px solid #ddd;
}
.multi-radio-part {
  flex-grow: 1;

  input[type="radio"] {
    display: none;
  }

  label {
    display: block;
    position: relative;
    background: #fff;
    padding: 0;
    text-align: center;
    font-size: inherit;
    line-height: 37px;
    cursor: pointer;
    user-select: none;

    transition: background var(--transition), color var(--transition);

    &.selected {
      background: var(--primary-color);
      box-shadow: inset var(--box-shadow);
      color: #fafafa;
    }
  }

  &:first-child label {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  &:last-child label {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

.debt-icon .debtor {
  color: var(--expense-color);
}
.debt-icon .lender {
  color: var(--deposit-color);
}

.encryption-box {
  margin-top: 5px;

  &.active {
    background: #f6f6f6;
    border-radius: var(--border-radius);
    box-shadow: inset var(--box-shadow);
    padding: 10px 12px;
    transition: padding var(--transition);
  }
}
.viewable-password {
  position: relative;

  input {
    width: calc(100% - 64px);
    padding-right: 52px;
  }
}
.password-show-button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 12px;
  font-size: 1.2rem;
  line-height: 37px;
  text-decoration: none;
  color: var(--faded-color);
  cursor: pointer;

  i:nth-child(2) {
    display: none;
  }

  &.shown {
    i:nth-child(2) {
      display: inline-block;
    }

    i:first-child {
      display: none;
    }
  }
}

.decrypt-form {
  display: flex;
  justify-content: space-between;
  margin: 0;

  .viewable-password {
    width: 100%;
  }
}
.inline-decrypt-form {
  display: flex;

  .viewable-password {
    width: 100%;
  }
}

.decrypt-button {
  background: var(--green-color);
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  box-shadow: var(--box-shadow);
  padding: 0 12px;
  margin-left: 10px;
  font-size: 1.2rem;
  line-height: 37px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;

  i:nth-child(2) {
    display: none;
  }

  &.loading i:nth-child(2) {
    display: inline-block;
  }

  &.loading i:first-child {
    display: none;
  }
}

.erase-button {
  background: var(--warning-color-dark);
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  box-shadow: var(--box-shadow);
  padding: 0 10px;
  margin-left: 10px;
  font-size: 1.3rem;
  line-height: 37px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.highlighted-row {
  animation: highlightRow ease-in 2.5s;
}
@keyframes highlightRow {
  0% {
    background: #e0c8f5;
  }
}

@import "./desktop.scss";
