@media screen and (min-width: 1200px) {
  form {
    label,
    input[type="text"],
    input[type="number"],
    input[type="password"],
    select,
    input[type="date"] {
      line-height: 45px;
    }

    input[type="date"] {
      width: 180px;
    }

    .amount-input {
      width: 100px;
    }

    .category-select {
      width: 270px;
      background-position: right 15px top 20px;
    }

    .description-textarea {
      height: 100px;
    }
  }

  .multi-radio-part label {
    line-height: 45px;
  }

  .password-show-button,
  .decrypt-button,
  .erase-button {
    line-height: 45px;
  }

  .loadable-select i {
    top: 11px;
    left: 13px;
    font-size: 1.5rem;
  }
}
