.checkbox-toggle {
  display: flex;
  justify-content: space-between;
  padding: 7px 4px 6px;
  line-height: 37px;
  cursor: pointer;
  transition: opacity var(--transition);

  &.disabled {
    opacity: 0.5;
    cursor: default;

    input[type="checkbox"] {
      cursor: default;
    }
  }

  span {
    line-height: 29px;
    user-select: none;
  }

  &:not(.disabled):hover span {
    color: var(--primary-color);
  }

  &-content {
    display: block;
    width: 56px;
    height: 27px;
    position: relative;
    display: inline-block;

    input[type="checkbox"] {
      width: 56px;
      height: 27px;
      margin: 0;
      appearance: none;
      background: #bbc;
      border-radius: 3px;
      position: relative;
      outline: 0;
      cursor: pointer;
      transition: all 100ms;
    }

    input[type="checkbox"]:after {
      position: absolute;
      content: "";
      top: 3px;
      left: 3px;
      width: 21px;
      height: 21px;
      background: #e5e5e5;
      z-index: 2;
      border-radius: 2px;
      transition: all 250ms;
    }

    svg,
    i {
      position: absolute;
      transform-origin: 50% 50%;
      fill: #fff;
      transition: all 250ms;
      z-index: 1;
      cursor: pointer;
    }

    i {
      font-size: 17px;
      color: #fff;

      &.is-checked {
        top: 10px;
      }
    }

    .is-checked {
      width: 18px;
      top: 11px;
      left: 7px;
      transform: translateX(190%) translateY(-30%) scale(0);
    }

    .is-unchecked {
      width: 13px;
      top: 12px;
      right: 9px;
      transform: translateX(0) translateY(-30%) scale(1);
    }

    /* Checked State */
    input[type="checkbox"]:checked {
      background: var(--primary-color);
    }

    input[type="checkbox"]:checked:after {
      left: calc(100% - 24px);
    }

    input[type="checkbox"]:checked + .is-checked {
      transform: translateX(0) translateY(-30%) scale(1);
    }

    input[type="checkbox"]:checked ~ .is-unchecked {
      transform: translateX(-190%) translateY(-30%) scale(0);
    }
  }
}

/* Workaround for sticky :hover on mobile devices */
.touch-device label.checkbox-toggle:not(.disabled):hover span {
  color: var(--regular-color);
}
