@inject IViewLocalizer Localizer
@{
    Layout = "_LayoutWide";
    ViewData["Title"] = "To Do Assistant";
    ViewData["Description"] = "To Do Assistant";
}

<article>
    <h1>To Do Assistant</h1>

    @Localizer["ToDoAssistantText"]
</article>

<footer>
    <a href="/" class="button">@Localizer["Back"]</a>
    <span></span>
</footer>