@import "../../../../shared/src/static/styles/variables";

@media screen and (min-width: $desktop-min) {
  .add-input-wrap button {
    font-size: 25px;
  }

  .instructions {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  .new-ingredient .unit-toggle {
    line-height: 45px;
  }
}
