@import "../../../../../shared/src/static/styles/variables";

.description-filter-wrap {
  position: relative;

  input {
    padding-right: 42px;
    width: calc(100% - 56px);
  }

  i {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 11px 13px;
    color: var(--primary-color);
    cursor: pointer;

    &:hover {
      color: var(--primary-color-dark);
    }
  }

  &.searching {
    input {
      padding-right: 42px;
      width: calc(100% - 56px);
    }

    i {
      display: inline-block;
    }
  }
}

.transactions-pagination {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 35px auto 0;

  .transactions-pagination-arrow-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 30px;
    background: var(--primary-color);
    border-radius: var(--border-radius);
    margin: 4px 0;
    font-size: 20px;
    color: #fff;
    cursor: pointer;

    &:hover {
      background: var(--primary-color-dark);
    }

    &.right i {
      margin-right: -2px;
    }

    &.left i {
      margin-left: -2px;
    }
  }

  .transactions-pagination-numbering {
    margin: 0px 10px;
    font-size: 20px;
    line-height: 36px;
  }
}

@media screen and (min-width: $desktop-min) {
  .description-filter-wrap {
    input {
      padding-right: 48px;
      width: calc(100% - 62px);
    }

    i {
      padding: 13px 15px;
    }
  }
}
