.transfer-funds-label {
  display: block;
  margin-left: 10px;
  color: var(--primary-color);
}
.transfer-funds-amount-control {
  margin-top: 10px;
}

.account-stock-price-balance-label {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 5px;
}