.category-suggestion {
  .category-name {
    background: #eeffee;
    padding: 0 15px;
    color: var(--primary-color-dark);
  }

  .category-body {
    padding: 0 15px;
  }
}

.subcategory-suggestion .category-name {
  background: #eeffee;
  padding: 0 30px;
  margin: 0 -15px 0;
  color: var(--primary-color-dark);
}
