.double-radio-wrap {
  display: flex;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  input[type="radio"] {
    display: none;
  }

  .checkbox-icon {
    display: none;
    position: absolute;
    top: 5px;
    right: 12px;
    font-size: 21px;
    color: #fafafa;

    transition: color var(--transition);
  }

  .double-radio-side {
    width: 50%;

    label {
      display: block;
      position: relative;
      background: #fafafa;
      padding: 0 48px 0 15px;
      font-size: inherit;
      line-height: 37px;
      cursor: pointer;

      transition: background var(--transition), color var(--transition);

      &.selected {
        background: var(--primary-color);
        box-shadow: inset var(--box-shadow);
        color: #fafafa;

        .checkbox-icon {
          display: inline;
        }
      }
    }

    &:nth-child(1) label {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }

    &:nth-child(2) label {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }

    span {
      line-height: 27px;
    }
  }
}

/* Desktop */
@media screen and (min-width: 700px) {
  .double-radio-wrap .double-radio-side label {
    padding: 4px 48px 4px 15px;
  }
  .double-radio-wrap .checkbox-icon {
    top: 9px;
    font-size: 23px;
  }
}
