input[type="date"] {
  background: #fafafa;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 0 12px;
  line-height: 37px;
  font-size: inherit;
  color: inherit;
}
input[type="date"]:disabled {
  opacity: 0.5;
}