.button {
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  box-shadow: var(--box-shadow);
  font-size: inherit;
  text-align: center;
  line-height: 45px;
  color: #fafafa;
  cursor: pointer;

  &:hover {
    border-radius: 23px;
  }

  &.disabled:hover {
    border-radius: var(--border-radius);
  }

  &.primary-button {
    animation: AnimateGradiant 8s ease infinite;

    &.disabled {
      background: #fafafa;
      opacity: 0.7;
      color: var(--primary-color);
      cursor: default;
    }
  }

  &.secondary-button {
    background: #fafafa;
    color: var(--primary-color-dark);
  }

  &.danger-button {
    background: #fafafa;
    color: var(--danger-color);

    &.confirm {
      background: linear-gradient(225deg, #ed2f00, #f34646);
      background-size: 400% 400%;
      color: #fafafa;

      animation: AnimateGradiant 8s ease infinite;
    }

    &.loading.disabled {
      background: linear-gradient(225deg, #ed2f00, #f34646);
      background-size: 400% 400%;
    }
  }

  &.loading.disabled {
    opacity: 1;
    color: #fafafa;
  }
}

.loader {
  display: none;
  animation: fadeIn var(--transition);

  &.loading {
    display: inline;
  }

  .fa-spin {
    position: absolute;
    top: 11px;
    left: 13px;
    font-size: 25px;
  }
}
