@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["DeleteAccount"];
    ViewData["Description"] = Localizer["DeleteYourAccount"];
}

<div class="message danger">@Localizer["DeleteWarning"]</div>

<form asp-controller="account" asp-action="delete" method="post" role="form" autocomplete="off">
    <div asp-validation-summary="All" class="text-danger"></div>

    <footer>
        <a href="/" class="button">@Localizer["Back"]</a>
        <button type="submit" class="button">@Localizer["IUnderstandDelete"]</button>
    </footer>
</form>
