.send-requests-wrap.declined {
  margin-top: 15px;

  .send-request {
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

.send-request {
  display: flex;
  justify-content: space-between;
  background: #e9fff4;
  border-radius: 6px;
  margin-bottom: 10px;

  .action {
    min-width: 45px;
    font-size: 27px;
    line-height: 45px;
    text-decoration: none;
    text-align: center;
    color: var(--primary-color);

    &.inactive,
    &.inactive:hover {
      color: var(--faded-color);
    }

    &:not(.inactive):not(.side-loading):hover {
      color: var(--primary-color-dark);
    }
  }

  .name {
    width: 100%;
    padding: 9px 5px;
    line-height: 27px;
    text-align: center;
    cursor: default;
  }
}
