.share-with {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;

  .share-image {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 6px 12px 0 0;
  }

  .share-content {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 48px);
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 50px;
      height: 43px;
      font-size: 23px;
      color: var(--faded-color);
    }

    .name {
      width: 100%;
      padding: 8px 10px 8px 2px;
      line-height: 27px;
      text-align: center;
      word-wrap: anywhere;

      &.owner {
        padding-right: 55px;
      }
    }

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 45px;
      height: 43px;
      font-size: 23px;
      color: var(--primary-color);

      &:hover {
        color: var(--primary-color-dark);
      }
    }
  }
}

/* Workaround for sticky :hover on mobile devices */
.touch-device .share-with:not(.owner) .name:hover,
.touch-device .add-input-wrap button:hover {
  color: var(--primary-color);
}
