.dietary-profile-tabs {
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 30px;

  button {
    width: 50%;
    background: #f5f5f5;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    font-size: inherit;
    line-height: 45px;
    color: inherit;
    cursor: pointer;

    &.active {
      background: #fff;
      border: 1px solid #ddd;
      border-bottom: none;
      color: var(--primary-color-dark);
    }

    &.inactive {
      color: var(--faded-color);
    }
  }
}

.diet-button.diet-changed {
  background: #dfd;
  color: var(--primary-color-dark);
  transition: color var(--transition), background var(--transition);
}

.dietary-profile {
  margin-bottom: 30px;

  table {
    width: 100%;

    td {
      line-height: 45px;

      &:last-child {
        text-align: right;
      }
    }
  }

  input[type="number"] {
    width: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 37px;
    text-align: center;
  }

  .input-wrap {
    display: inline-flex;
    justify-content: end;
  }
}

.gender-selector {
  line-height: 37px;

  input[type="radio"] {
    display: none;
  }

  label {
    display: inline-block;
    border-radius: var(--border-radius);
    padding: 0 12px;
    cursor: pointer;
    transition: background var(--transition), color var(--transition);

    &:not(.selected):hover {
      color: var(--primary-color);
    }

    &.selected {
      background: var(--primary-color);
      color: #fff;
    }
  }
}

.detailed-radio-selector-label {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  line-height: 45px;
}

.detailed-radio-selector {
  label {
    cursor: pointer;

    .title {
      line-height: 32px;
    }

    &.selected {
      .title,
      .explanation {
        color: var(--primary-color-dark);
      }

      i {
        display: inline;
      }
    }

    i {
      display: none;
      margin-left: 5px;
      color: var(--primary-color-dark);
    }
  }

  input[type="radio"] {
    display: none;
  }

  .explanation {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 22px;
    color: #888;
  }
}

.intake-wrap {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.intake-body {
  position: relative;
}
.intake-nutrient {
  padding: 5px 10px 10px;
  transition: opacity var(--transition);

  &.not-tracked {
    opacity: 0.5;
  }

  &:nth-child(odd) {
    background: #eee;
  }

  .checkbox-toggle {
    padding: 0;
  }

  .input-wrap {
    display: inline-flex;
    justify-content: end;
  }

  .custom {
    padding-right: 12px;
    line-height: 37px;
  }

  input[type="number"] {
    width: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 37px;
    text-align: center;
  }
}

.intake-nutrient-top-row {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 5px;
}
.intake-nutrient-bottom-row {
  text-align: right;
}
.intake-nutrient-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  line-height: 45px;

  .customized {
    text-decoration: line-through;
  }
}
.intake-nutrient-name {
  padding-left: 10px;
}

.missing-intake {
  padding: 50px 10px;
  text-align: center;
  color: var(--faded-color);
}

@media screen and (max-width: 450px) {
  .gender-selector,
  .data-size input,
  .data-table-form input,
  .dietary-profile input[type="number"],
  input[type="date"] {
    line-height: 33px;
  }
  .intake-nutrient input[type="number"] {
    width: 40px;
    line-height: 33px;
  }
  .data-table-form input.price-input {
    width: 60px;
  }
  .intake-nutrient-data,
  .dietary-profile-tabs button {
    line-height: 41px;
  }
}
