@import "../../../../../shared/src/static/styles/variables";

.recipe-wrap {
  .prep-cook-duration-wrap {
    display: flex;
    justify-content: space-around;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;
  }

  .image {
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    margin-bottom: 10px;
  }

  .duration-label {
    padding-left: 0;
    margin-bottom: 0;
    color: inherit;
  }

  .video-wrap {
    margin-bottom: 10px;
    font-size: 0;
  }
}

.nutrition-row {
  margin: 5px 0;
}
.nutrition-row-quantity {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  line-height: 28px;
}
.nutrition-row-progress-wrap {
  position: relative;
  height: 4px;
  background: #ddd;
  margin: 0 15px;
}
.nutrition-row-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;

  &.good {
    background: var(--primary-color);
  }

  &.average {
    background: #f8a042;
  }

  &.bad {
    background: var(--danger-color);
  }

  &.terrible {
    background: var(--danger-color-dark);
  }
}

.recipe-ingredients-table {
  width: 100%;
  margin-bottom: 10px;

  tr:first-child th {
    background: var(--primary-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 6px 5px;
    line-height: 26px;
    color: #fff;
  }

  .icons-container {
    margin-left: 5px;

    i {
      margin-left: 4px;
      color: var(--faded-color);

      &.fa-tag {
        font-size: 18px;
      }
    }
  }

  tbody {
    tr td {
      padding: 5px 15px;
      line-height: 28px;
    }

    tr:hover td {
      color: var(--primary-color-dark);
    }

    tr:nth-child(odd) {
      background: #eee;
    }

    tr td:nth-child(even) {
      text-align: right;
    }

    tr.missing td {
      color: var(--danger-color);
    }
  }

  .ingredient-amount {
    white-space: nowrap;
  }
}

.instructions-wrap {
  margin-bottom: 10px;

  .instructions {
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    padding: 15px;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.cost-wrap {
  margin-top: 20px;
  line-height: 30px;

  .cost-content {
    text-align: right;

    .cost {
      color: var(--primary-color);
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .recipe-ingredients-table .icons-container i.fa-tag {
    font-size: 22px;
  }

  .instructions-wrap .instructions {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}
