@import '../../shared2/styles/core.css';

:root {
	--regular-color: #333;
	--primary-color: var(--weatherman-color);
	--primary-color-dark: #dd7200;
	--primary-color-light: #eeeeff;
	--faded-color: #98b0c5;
}
