@inject IViewLocalizer Localizer
@{
    Layout = "_LayoutWide";
    ViewData["Title"] = "Chef";
    ViewData["Description"] = "Chef";
}

<article>
    <h1>Chef</h1>

    @Localizer["FeaturesText"]
</article>

<footer>
    <a href="/" class="button">@Localizer["Back"]</a>
    <span></span>
</footer>