.ingredient-suggestion {
  padding: 5px 15px;
  line-height: 27px;
  cursor: pointer;

  &.selected {
    color: var(--primary-color-dark);
    cursor: default;

    .icons-container .fa-check {
      display: inline;
    }
  }

  &:hover {
    color: var(--primary-color-dark);
  }

  .icons-container {
    margin-left: 5px;

    i {
      margin-left: 4px;
      font-size: 16px;
      color: var(--primary-color);

      &.fa-tag {
        font-size: 17px;
      }
    }

    .fa-check {
      display: none;
      font-size: 18px;
    }
  }
}

.ingredient-suggestion-children {
  padding-left: 15px;
}

/* Workaround for sticky :hover on mobile devices */
.touch-device .ingredient-suggestion:hover {
  color: var(--primary-color);
}
